In [4]:
import pandas as pd
import numpy as np

beer = pd.read_csv('open_units.csv', delimiter=';')
beer.head()

c:\users\brand\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

  "Product","Brand","Category","Style","Quantity","Quantity Units","Volume","Package","ABV","Units of Alcohol","Units (4 Decimal Places)","Units per 100ml"
0  "13 Guns","Crafty Dan",Beer,IPA,330,ml,330,bot...
1  "13 Guns","Crafty Dan",Beer,IPA,330,ml,330,can...
2  "13 Guns","Crafty Dan",Beer,IPA,1,pint,568,dra...
3  "Abbot Ale","Greene King",Beer,Ale,500,ml,500,...
4  "Abbot Ale","Greene King",Beer,Beer,1,pint,568...